answerFldX, textarea {
	background-color : red;
	fill : green;
}

input, textarea {
  --background-color : #ddd;
}

svg {
 fill: none;
	border: solid #00f 1px;
}

text {
	fill: #000;
	text-anchor: middle;
	text-shadow: 0px 0px 20px #fff;
	user-select: none;
}

.text_background{ 
    fill: #fff;
	   opacity: 0.8;
}
.helpCircle {
	fill: #0a0;
	stroke: #888;
}

.dotObject {
	fill: #f00;
	stroke: #000;
}

.dotImage {
	fill: #f90;
	stroke: #000;
}

.dotFocus {
	fill: transparent;
	stroke: #000;
}

.helpLine {
	stroke: #000;
	stroke-dasharray: 5 5;
}

.bigRay{
	stroke-width: 2;
	stroke: purple;
	stroke-dasharray: 8 2;
}

.bigRayEnd{
	stroke: grey;
	fill: yellow;
	opacity: 0.2;
}

.halo {
	stroke: #888;
	stroke-dasharray: 3 1;
}

.grab {
	cursor: grab;
	opacity: .5;
}

.move {
	cursor: move;
	opacity: .8;
}

.rayI {
	stroke: #0a0;
	stroke-dasharray: 8 2;
}

.rayR {
	stroke: #00f;
	stroke-dasharray: 8 2;
}

.rayV {
	stroke: #888;
	stroke-dasharray: 2 8;
}

.Min {
	stroke-dasharray: 1, 9;
	stroke: #888;
	opacity: .3;
}

.Mid {
	stroke-dasharray: 1, 24;
	stroke: #8a2be2;
	opacity: .5;
}

.Maj {
	stroke-dasharray: 1, 49;
	stroke: #00f;
	opacity: .8;
}

.grid {
	stroke-width: 800;
	pointer-events: none;
}

.ticks {
	stroke-width: 10;
	opacity: 1;
}

.mirror {
	fill: #888;
	opacity: .5;
}

.mirrorArea {
	fill: transparent;
	cursor: crosshair;
}

.water {
	fill: aqua;
	opacity: .2;
}

.lens {
	fill: aqua;
	stroke: blue;
	opacity: 1;
}

.waterSurface {
	stroke: blue;
	stroke-width:2
}

.pulsating {
	animation-name: pulsating;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-timing-function: ease-in-out;
}

.animLogRay {
	animation-name: runningLogRay;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

.flowing {
	animation-name: runningRay;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

@keyframes runningRay {
	from {
		stroke-dashoffset: 4;
	}
	to {
		stroke-dashoffset: 0;
}
}

@keyframes runningLogRay {
	from {
		stroke-dashoffset: 10
	}
	to {
		stroke-dashoffset: 0
	}
}

@keyframes pulsating {
 from {
        transform: scale(1);
    }
    to {
        transform: scale(1.5);
    }
}
